Segundo-Toque-Seguimiento.json
{
  "name": "Segundo Toque - Seguimiento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 8-20 * * 1-6"
            }
          ]
        }
      },
      "name": "Check Segundo Toque",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        0
      ],
      "id": "a1000001-0001-0001-0001-000000000001"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "seguimiento_whatsapp",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "follow_up_scheduled_at",
              "condition": "lt",
              "keyValue": "={{ new Date().toISOString() }}"
            },
            {
              "keyName": "last_bot_message_at",
              "condition": "gt",
              "keyValue": "={{ new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "name": "Buscar Pendientes 2do Toque",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1200,
        0
      ],
      "id": "a1000001-0001-0001-0001-000000000002",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Filtrar: solo los que cumplen TODAS las condiciones booleanas\nconst filtrados = items.filter(item => {\n  const d = item.json;\n  const followUpSent = d.follow_up_sent === true || d.follow_up_sent === 'true';\n  const responded = d.responded === true || d.responded === 'true';\n  const followUp2Sent = d.follow_up_2_sent === true || d.follow_up_2_sent === 'true';\n  \n  // Debe tener follow_up_sent=true, responded=false, follow_up_2_sent=false\n  return followUpSent && !responded && !followUp2Sent;\n});\n\nconsole.log(`Total traídos: ${items.length}, Después de filtrar booleanos: ${filtrados.length}`);\n\nif (filtrados.length === 0) return [];\n\n// 2. Deduplicar por teléfono quedándose con el más reciente\nconst porTelefono = {};\nfor (const item of filtrados) {\n  const phone = item.json.phone;\n  if (!porTelefono[phone]) {\n    porTelefono[phone] = item;\n  } else {\n    const actual = new Date(porTelefono[phone].json.last_bot_message_at);\n    const nuevo = new Date(item.json.last_bot_message_at);\n    if (nuevo > actual) {\n      porTelefono[phone] = item;\n    }\n  }\n}\n\n// 3. Ordenar por follow_up_scheduled_at ascendente (el más viejo primero)\nconst deduplicados = Object.values(porTelefono);\ndeduplicados.sort((a, b) => {\n  const fechaA = new Date(a.json.follow_up_scheduled_at || 0);\n  const fechaB = new Date(b.json.follow_up_scheduled_at || 0);\n  return fechaA - fechaB;\n});\n\nconsole.log(`Después de deduplicar: ${deduplicados.length}, Enviando: ${deduplicados[0]?.json?.phone}`);\n\n// 4. Tomar SOLO el primero (1 por ejecución)\nreturn [deduplicados[0]];"
      },
      "name": "Tomar Solo 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ],
      "id": "a1000001-0001-0001-0001-000000000003"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generá un mensaje de seguimiento para el cliente con teléfono {{ $json.phone }}.\nNombre del cliente: {{ $json.customer_name || 'no disponible' }}\n\nUsá el historial de conversación que tenés en memoria para personalizar el mensaje.",
        "options": {
          "systemMessage": "## ROL\nSos Pablo, asistente virtual de Opting (Seguridad e Higiene).\nEstás enviando un SEGUNDO mensaje de seguimiento a un cliente que ya fue contactado antes pero no respondió al primer seguimiento.\n\n## OBJETIVO\nTu ÚNICO objetivo es:\n1. Retomar la conversación de manera natural y cordial\n2. Preguntar si pudo realizar la compra y si necesita algo más\n\n## INSTRUCCIONES\n- Leé el historial de la conversación anterior con este cliente\n- Basándote en lo que se habló antes, generá UN SOLO mensaje corto y personalizado\n- Si en la conversación anterior se habló de un tema específico (carnet individual, carnets para empresa, presupuesto, etc.), mencionalo brevemente\n- Si el cliente tiene nombre, usalo\n\n## FORMATO DEL MENSAJE\n- Máximo 3-4 líneas\n- Tono argentino amigable: \"vos\", \"dale\", \"¿cómo andás?\"\n- Máximo 1-2 emojis\n- Terminá SIEMPRE con una pregunta concreta\n- NO te presentes de nuevo (ya te conoce)\n- NO repitas información que ya le diste antes\n- NO uses saludos formales largos\n\n## EJEMPLOS DE BUEN MENSAJE\n- \"Hola Juan, ¿cómo andás? Vi que habíamos quedado con lo del carnet. ¿Pudiste completar la inscripción o necesitás una mano? 😊\"\n- \"Hola María, ¿todo bien? Quedó pendiente lo del presupuesto para los carnets de tu equipo. ¿Querés que lo retomemos?\"\n- \"¿Cómo va todo? Te escribo porque habíamos hablado sobre el carnet de manipuladores. ¿Pudiste avanzar o tenés alguna duda?\"\n\n## IMPORTANTE\n- Devolvé SOLAMENTE el texto del mensaje, sin comillas, sin prefijos, sin explicaciones\n- Si no hay historial o no podés determinar el contexto, usá un mensaje genérico cordial preguntando si pudo avanzar con lo que necesitaba"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a1000001-0001-0001-0001-000000000010",
      "name": "Agente Seguimiento"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -80,
        240
      ],
      "id": "a1000001-0001-0001-0001-000000000011",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "x1cMDDSv3RoaFkK5",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Tomar Solo 1').item.json.phone.replace(/^\\+/, '') }}",
        "tableName": "chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        80,
        240
      ],
      "id": "a1000001-0001-0001-0001-000000000012",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "uGGhyk491RbNedD2",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tomar la respuesta del agente y preparar el payload para YCloud\nconst item = $('Tomar Solo 1').item;\nconst phoneFrom = item.json.phone_from;\nconst phoneTo = item.json.phone;\nconst messageText = $input.first().json.output;\n\nreturn {\n  from: phoneFrom,\n  to: phoneTo,\n  phone: phoneTo,\n  type: 'text',\n  text: {\n    body: messageText,\n    preview_url: false\n  }\n};"
      },
      "name": "Preparar Payload WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "a1000001-0001-0001-0001-000000000005"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "e2bb8a4e15e2ce381c4acd6c2bda500e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "name": "Enviar Segundo Toque YCloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "a1000001-0001-0001-0001-000000000006"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "seguimiento_whatsapp",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.to }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_2_sent",
              "fieldValue": "true"
            }
          ]
        }
      },
      "name": "Marcar 2do Toque Enviado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        -100
      ],
      "id": "a1000001-0001-0001-0001-000000000007",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.to }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "llamada"
            }
          ]
        }
      },
      "name": "Marcar Lead como Llamada",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        100
      ],
      "id": "a1000001-0001-0001-0001-000000000008",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check Segundo Toque": {
      "main": [
        [
          {
            "node": "Buscar Pendientes 2do Toque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pendientes 2do Toque": {
      "main": [
        [
          {
            "node": "Tomar Solo 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tomar Solo 1": {
      "main": [
        [
          {
            "node": "Agente Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Seguimiento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Seguimiento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente Seguimiento": {
      "main": [
        [
          {
            "node": "Preparar Payload WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar Segundo Toque YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Segundo Toque YCloud": {
      "main": [
        [
          {
            "node": "Marcar 2do Toque Enviado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar Lead como Llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "00000000-0000-0000-0000-000000000003",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
