Segundo Toque - Seguimiento WhatsApp (1).json
{
  "name": "Segundo Toque - Seguimiento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "tableId": "seguimiento_whatsapp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=phone",
              "fieldValue": "={{ $('Webhook1').item.json.body.whatsappInboundMessage.from }}"
            },
            {
              "fieldId": "phone_from",
              "fieldValue": "={{ $('Webhook1').first().json.body.whatsappInboundMessage.to }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.customerName }}"
            },
            {
              "fieldId": "last_bot_message_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "responded",
              "fieldValue": "false"
            },
            {
              "fieldId": "follow_up_sent",
              "fieldValue": "false"
            }
          ]
        }
      },
      "name": "Guardar Seguimiento",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -10976,
        -464
      ],
      "id": "4969c357-e5bd-44c1-bfeb-5a14d0bd063b",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "seguimiento_whatsapp",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.from }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "responded",
              "fieldValue": "true"
            }
          ]
        }
      },
      "name": "Marcar Respondido",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -13200,
        -784
      ],
      "id": "4f821fad-bfe4-4525-83bf-cc71882c68c4",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 8-20 * * 1-6"
            }
          ]
        }
      },
      "name": "Check Seguimientos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -14192,
        -1792
      ],
      "id": "1a97a38f-fb41-4ebf-80b2-804a85312a3f",
      "notes": "Cada 2 min, L-S, 8am-8pm"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "seguimiento_whatsapp",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "follow_up_sent",
              "condition": "eq",
              "keyValue": "=false"
            },
            {
              "keyName": "last_bot_message_at",
              "condition": "lt",
              "keyValue": "={{ new Date(Date.now() - 15 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "name": "Buscar Pendientes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -13792,
        -1792
      ],
      "id": "ce6892ac-dab6-4ebd-b204-c952606267eb",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seen = new Set();\n\nconst result = [];\n\nfor (const item of items) {\n  const nombre = item.json.customer_name || '';\n  const phone = item.json.phone;\n\n  // Si ya procesamos este teléfono, lo saltamos\n  if (seen.has(phone)) continue;\n  seen.add(phone);\n\n  const msg = nombre && nombre !== 'Cliente'\n    ? `¿Todo bien, ${nombre}? Pudiste realizar la compra?`\n    : `¿Todo bien? Pudiste realizar la compra?`;\n\n  result.push({\n    json: {\n      from: item.json.phone_from,\n      to: phone,\n      phone: phone,\n      type: 'text',\n      text: { body: msg, preview_url: false }\n    }\n  });\n}\n\nreturn result;"
      },
      "name": "Preparar Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12976,
        -1808
      ],
      "id": "9ba59bad-62eb-4b8d-b800-753748e91493"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "seguimiento_whatsapp",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.to }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_sent",
              "fieldValue": "true"
            },
            {
              "fieldId": "follow_up_scheduled_at",
              "fieldValue": "={{ new Date(Date.now() + 30 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "name": "Marcar Follow-up Enviado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -12192,
        -1808
      ],
      "id": "d5df29fd-0e11-4a71-8e14-791d91691945",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      },
      "notes": "Marca follow_up_sent=true y programa 2do toque en 30 min"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opting",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -14224,
        -960
      ],
      "id": "3ce8f141-6ddf-48f8-b10e-c2cf8d15e903",
      "name": "Webhook1",
      "webhookId": "35a3deda-c7c4-4264-b90f-c1b73f849fee"
    },
    {
      "parameters": {
        "jsCode": "// ── 1. EXTRAER DATOS DEL MENSAJE YCLOUD ──────────────────────────\nconst body = $input.item.json.body;\nconst whatsappMsg = body.whatsappInboundMessage;\n\nconst messageId   = whatsappMsg.id;\nconst wamid       = whatsappMsg.wamid;\nconst from        = whatsappMsg.from;\nconst to          = whatsappMsg.to;\nconst customerName = whatsappMsg.customerProfile?.name || 'Cliente';\nconst messageType = whatsappMsg.type;\nconst messageBody = whatsappMsg.text?.body || '';\nconst timestamp   = whatsappMsg.sendTime;\nconst wabaId      = whatsappMsg.wabaId;\nconst eventType   = body.type;\nconst eventId     = body.id;\n\n// ── 2. CALCULAR HORARIO DE ATENCIÓN (Argentina UTC-3) ────────────\n// sendTime puede venir en ms (epoch) o como string ISO\nconst fecha = typeof timestamp === 'number'\n  ? new Date(timestamp)\n  : new Date(timestamp);\n\nconst offsetArg   = -3;\nconst horaArg     = new Date(fecha.getTime() + offsetArg * 60 * 60 * 1000);\n\nconst hora        = horaArg.getUTCHours();\nconst minutos     = horaArg.getUTCMinutes();\nconst dia         = horaArg.getUTCDay(); // 0 = domingo, 6 = sábado\n\nconst horaDecimal    = hora + minutos / 60;\nconst esDomingo      = dia === 0;\nconst dentroDeHorario = !esDomingo && horaDecimal >= 9 && horaDecimal < 18;\n\n// ── 3. RETORNAR TODO JUNTO ────────────────────────────────────────\nreturn {\n  // Datos del mensaje\n  messageId,\n  wamid,\n  from,\n  to,\n  customerName,\n  messageType,\n  messageBody,\n  timestamp,\n  wabaId,\n  eventType,\n  eventId,\n  // Horario\n  dentroDeHorario\n};"
      },
      "id": "473e96fe-ecab-4ec4-a899-1cbe18dbe7d2",
      "name": "Parsear Mensaje1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13552,
        -960
      ]
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        -11872,
        240
      ],
      "id": "c059fea6-13bf-4460-b2ae-5189339d5acf",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "6mDThtf9ooEIaxHA",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=La herramienta hace busquedas de propiedades y devuelve la ficha de la propiedad con sus valores correspondientes, incluyendo el valor enlace ",
        "tableName": {
          "__rl": true,
          "value": "documents_1",
          "mode": "list",
          "cachedResultName": "documents_1"
        },
        "topK": 30,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -11984,
        -32
      ],
      "id": "f880677c-0ac0-4e8c-80a9-b66a1e33b2fe",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "k63Rdkg9hyaaztWV",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageBody }}",
        "options": {
          "systemMessage": "=## IDENTIDAD\nSos Tomas, asistente virtual de Opting (Seguridad e Higiene). Atendés consultas sobre carnets de manipuladores, auditorías y planes anuales para locales gastronómicos.\n\n---\n\n\nTu objetivo es entender qué necesita el prospecto y guiarlo hacia la compra del Carnet de Manipulación de Alimentos (DIPA).\n\n🚨 REGLAS ABSOLUTAS (CRÍTICA – PRIORIDAD MÁXIMA)\n\n\n\n\n❌ NO hagas múltiples preguntas en un solo mensaje\n❌ NO te presentes mas de una vez, solo en el mensaje inicial\n❌ No te salgas de las instrucciones, si el cliente pide algo u ofrece algo fuera de lo mencionado en las intrucciones, deci que lo vas a derivar \n❌ Si no quieren comprar, no insistas\n\nSI NO HAY NADA QUE RESPONDER: Devuelve un un simple \"👍\"\n\n## FLUJO DE CONVERSACIÓN\n\n**1. Saludo inicial**\n- Si el usuario consulto por carnet de manipulacion de alimentos: \n\"Hola, soy Tomas de Opting. ¿Cómo estás? Comentame, ¿El carnet es para vos o sos el dueño/encargado de un local y es para tus empleados?\"\n\n- si el usuario no especifico por que servicio es su consulta: \"Hola soy Pablo de Opting, en que te puedo ayudar?\"\n\n**2. Identificar para quién es el carnet**\nPreguntá: \"¿El carnet es para vos o sos el dueño/encargado de un local y es para tus empleados?\"\n\n**3a. Si el carnet es para él mismo**\nRespondé algo como esto:\n\n\"Para obtener tu Carnet Oficial (DIPA) con validez nacional por 3 años, solo tenés que completar tu inscripción en el siguiente link:\n👉 https://www.optingsha.com.ar/carnet_manipuladores2.php\n\nDetalles del servicio:\n✅ Precio: $22.990 (Final, incluye tasa de gestión)\n✅ Modalidad: 100% Online, a tu ritmo\n✅ Entrega: Recibís el carnet en tu email en 72 hs hábiles\n\nUna vez realizado el pago, el sistema te enviará los accesos al curso de forma automática. Si necesitas ayuda haceme saber\"\n\n**3b. Si es para empleados de un local**\n\"Para Comercios/empresas, te pido que nos envies un email haciendo click\nen el siguiente enlcae:\n\nhttps://www.optingsha.com.ar/carnet_manipuladores.php#empresa\n\nLuego hace click en el botón SOLICITAR PRESUPUESTO.\n\nA la brevedad te cotizo.\"\n\n  → SI muestra interés en seguridad e higiene:\n  \"Podemos agendar una reunión de 10 minutos y hacemos una breve presentación de los servicios para potenciar tu negocio.\n  Agendar reunión: https://calendly.com/optingsha-info/30min\n  ¿Alguna otra consulta?\"\n\n  → SI dice que no le interesa o se despide:\n  \"Entonces espero que nos envíes tu email con la solicitud de presupuesto por los carnets. Te dejo nuevamente el enlace:\n  https://www.optingsha.com.ar/carnet_manipuladores.php#empresa\"\n\n### C) SI pide pagar por transferencia o solicita CBU/alias:\n\n\"Hola [nombre], ¿cómo estás?\nTe paso: Alias optingsrl.bbva | CBU: 0170338020000030594238\n\nEnvianos el comprobante y en 48 hs, si el pago está acreditado, te enviamos los accesos al curso.\n¿Me dejás tu email?\"\n→ Luego de recibir el email, ofrecer reunión para carpeta de inspecciones.\n\n### D) SI menciona inspección, multa, acta o clausura:\n\nOfrece una llamada para resolverlo\n\"Hacemos una llamada y resolvemos. ¿Coordinamos por acá o preferís agendarla?\n👉 https://calendly.com/optingsha-info/30min\"\n\n### E) SI dice \"lo voy a pensar\":\n\n\"Hacemos una llamada rápida y resolvemos. ¿Coordinamos por acá o preferís agendarla?\n👉 https://calendly.com/optingsha-info/30min\"\n\n### F) SI dice \"ya tenemos proveedor\":\n\"¿Están 100% cubiertos o hay algo que te preocupa? En 10 min te digo si hay algún hueco.\"\n\n### G) SI dice \"no me interesa\":\n\"¿Lo decís porque ya lo tienen resuelto o porque no lo gestionan ustedes?\"\n\n### H) SI pregunta precio de auditoría o plan anual:\n\"Depende del tamaño del negocio. ¿Cuántos locales tenés? ¿Cuántos empleados? Lo vemos en 10 min.\"\n\n### I) SI pide hablar con soporte: \n\"Entiendo, ¿Chequeaste cargando desde la PC o con conexión del celular al Wifi?\n\nSí el problema sigue, comunicate con soporte técnico de 8 a 16:30 hs \nde lunes a viernes al +541157948155\n\nQue tengas un buen día.\"\n\n### J) Si consulta por cualquier otro servicio u cosa no especificada: hazle saber que vas a revisar y le avisas\n\n### K) Si confirmo la compra: agradecele \n\n---\n\n## REGLAS DE COMPORTAMIENTO\n\n1. Usá siempre el nombre del usuario si lo tenés\n2. Mensajes cortos: 3-4 líneas máximo (excepción: info completa del curso en paso 4A)\n3. Siempre terminá con una pregunta\n4. Preguntas binarias: \"¿Hoy o mañana?\" en lugar de \"¿Querés agendar?\"\n5. No vendas planes por chat → solo agendá reunión\n6. Tono argentino: \"vos\", \"dale\", \"genial\", \"¿cómo andás?\"\n7. Máximo 2 emojis por mensaje\n8. - Si no corresponde responder, devolver EXACTAMENTE un: \"👍\"\n\n\n---\n\n## LINKS\n- Carnet individual: https://www.optingsha.com.ar/carnet_manipuladores.php\n- Presupuesto empresa: https://www.optingsha.com.ar/carnet_manipuladores.php#empresa\n- Agendar reunión: https://calendly.com/optingsha-info/30min\n\n---\n\n## CHECKLIST ANTES DE CADA RESPUESTA\n\n- Si no corresponde responder, devolver EXACTAMENTE un: \"👍\"\n- ¿Estoy usando el mensaje exacto del paso correspondiente?\n- ¿El mensaje termina con una pregunta?\n- ¿Es corto (3-4 líneas, salvo paso 4A)?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -12192,
        -480
      ],
      "id": "705b66ba-6038-41d7-b535-b4aa8573e516",
      "name": "RAG Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -12240,
        -192
      ],
      "id": "5cc3774d-37f2-4177-b999-00ce9ce4e396",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "x1cMDDSv3RoaFkK5",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4mtNYrLqBUhzwLjA",
          "mode": "list",
          "cachedResultUrl": "/workflow/4mtNYrLqBUhzwLjA",
          "cachedResultName": "notificacion llamada"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_name', ``, 'string') }}",
            "confirmation_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('confirmation_text', ``, 'string') }}",
            "raw_from_agent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_from_agent', ``, 'string') }}",
            "whatsapp_id": "={{ $('Normalice').item.json.body.conversation.contact_inbox.source_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_number",
              "displayName": "lead_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "confirmation_text",
              "displayName": "confirmation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw_from_agent",
              "displayName": "raw_from_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_id",
              "displayName": "whatsapp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -11920,
        -208
      ],
      "id": "f872e83e-35b1-40c4-be8a-61b1d748a313",
      "name": "agendo llamada2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -12048,
        224
      ],
      "id": "8463a352-4df6-45bf-be69-2ee319595d31",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar el payload para YCloud WhatsApp API\nconst phoneFrom =  $('Webhook1').first().json.body.whatsappInboundMessage.to;\nconst phoneTo = $('Webhook1').first().json.body.whatsappInboundMessage.from;\nconst messageText = $input.first().json.output;\n\nreturn {\n  from: phoneFrom,\n  to: phoneTo,\n  type: \"text\",\n  text: {\n    body: messageText,\n    preview_url: true\n  }\n};"
      },
      "id": "e6a399af-6bc6-43c9-b2a3-9da63ffe4aa9",
      "name": "Preparar Payload WhatsApp2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11552,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "e2bb8a4e15e2ce381c4acd6c2bda500e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11264,
        -464
      ],
      "id": "972b5c26-5a03-48f1-9764-0546f9fa6a14",
      "name": "Enviar WhatsApp YCloud2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.wabaId }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -11456,
        -80
      ],
      "id": "6e964ace-89f1-4ed4-b83b-38e550b0c404",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0a34888-aa25-4e65-9ff1-5c62f1898cc5",
              "leftValue": "={{ $json.dentroDeHorario }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -13200,
        -960
      ],
      "id": "d993a96c-ef0e-4275-ae7d-fb7753f68d0a",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f9fea05a-ffc1-4adb-a681-bb58722b0c60",
              "leftValue": "={{ $json.follow_up_sent }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -13424,
        -1792
      ],
      "id": "b63b0545-9493-4c1a-827d-44b6bfe45c23",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Parsear Mensaje1').item.json.from.replace(/^\\+/, '') }}",
        "tableName": "chat_histories",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -12096,
        -224
      ],
      "id": "746edd6c-6f0e-4b03-bbd2-c287185d8947",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "uGGhyk491RbNedD2",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Filtrar booleanos en JS (Supabase v1 no filtra bien booleanos)\nconst filtrados = items.filter(item => {\n  const d = item.json;\n  const followUpSent = d.follow_up_sent === true || d.follow_up_sent === 'true';\n  const responded = d.responded === true || d.responded === 'true';\n  \n  // Solo traer los que NO tienen follow_up_sent y NO respondieron\n  return !followUpSent && !responded;\n});\n\nconsole.log(`[1er Toque] Total traídos: ${items.length}, Después de filtrar: ${filtrados.length}`);\n\nif (filtrados.length === 0) return [];\n\n// 2. Deduplicar por teléfono quedándose con el más reciente\nconst porTelefono = {};\nfor (const item of filtrados) {\n  const phone = item.json.phone;\n  if (!porTelefono[phone]) {\n    porTelefono[phone] = item;\n  } else {\n    const actual = new Date(porTelefono[phone].json.last_bot_message_at);\n    const nuevo = new Date(item.json.last_bot_message_at);\n    if (nuevo > actual) {\n      porTelefono[phone] = item;\n    }\n  }\n}\n\n// 3. Ordenar por last_bot_message_at ascendente (el más viejo primero)\nconst deduplicados = Object.values(porTelefono);\ndeduplicados.sort((a, b) => {\n  const fechaA = new Date(a.json.last_bot_message_at || 0);\n  const fechaB = new Date(b.json.last_bot_message_at || 0);\n  return fechaA - fechaB;\n});\n\nconsole.log(`[1er Toque] Después de deduplicar: ${deduplicados.length}, Enviando a: ${deduplicados[0]?.json?.phone}`);\n\n// 4. Tomar SOLO el primero (1 por ejecución)\nreturn [deduplicados[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13584,
        -1792
      ],
      "id": "d27eae95-5889-4415-8a78-707c6538c7c1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageBody }}",
        "options": {
          "systemMessage": "=## IDENTIDAD\nSos Pablo, asistente virtual de Opting (Seguridad e Higiene). Atendés consultas sobre carnets de manipuladores, auditorías y planes anuales para locales gastronómicos.\n\n---\n\n\nTu objetivo es entender qué necesita el prospecto y guiarlo hacia la compra del Carnet de Manipulación de Alimentos (DIPA).\n\n🚨 REGLAS ABSOLUTAS (CRÍTICA – PRIORIDAD MÁXIMA)\n\n\n\n\n❌ NO hagas múltiples preguntas en un solo mensaje\n❌ NO te presentes mas de una vez, solo en el mensaje inicial\n❌ No te salgas de las instrucciones, si el cliente pide algo u ofrece algo fuera de lo mencionado en las intrucciones, deci que lo vas a derivar \n❌\n\nSI NO HAY NADA QUE RESPONDER: Devuelve un un simple \"👍\"\n\n## FLUJO DE CONVERSACIÓN\n\n**1. Saludo inicial**\n- Si el usuario consulto por carnet de manipulacion de alimentos: \n\"Hola, soy Pablo de Opting. ¿Cómo te llamás?\nComentame, ¿El carnet es para vos o sos el dueño/encargado de un local y es para tus empleados?\"\n\n- si el usuario no especifico por que servicio es su consulta: \"Hola soy Pablo de Opting, en que te puedo ayudar?\"\n\n**2. Identificar para quién es el carnet**\nPreguntá: \"¿El carnet es para vos o sos el dueño/encargado de un local y es para tus empleados?\"\n\n**3a. Si el carnet es para él mismo**\nRespondé exactamente esto:\n\n\"Para obtener tu Carnet Oficial (DIPA) con validez nacional por 3 años, solo tenés que completar tu inscripción en el siguiente link:\n👉 https://www.optingsha.com.ar/carnet_manipuladores2.php\n\nDetalles del servicio:\n✅ Precio: $22.990 (Final, incluye tasa de gestión)\n✅ Modalidad: 100% Online, a tu ritmo\n✅ Entrega: Recibís el carnet en tu email en 72 hs hábiles\n\nUna vez realizado el pago, el sistema te enviará los accesos al curso de forma automática. 🚀 ¡Éxitos en el curso!\"\n\n**3b. Si es para empleados de un local**\n\"Para Comercios/empresas, te pido que nos envies un email haciendo click\nen el siguiente enlcae:\n\nhttps://www.optingsha.com.ar/carnet_manipuladores.php#empresa\n\nLuego hace click en el botón SOLICITAR PRESUPUESTO.\n\nA la brevedad te cotizo.\"\n\n  → SI muestra interés en seguridad e higiene:\n  \"Podemos agendar una reunión de 10 minutos y hacemos una breve presentación de los servicios para potenciar tu negocio.\n  Agendar reunión: https://calendly.com/optingsha-info/30min\n  ¿Alguna otra consulta?\"\n\n  → SI dice que no le interesa o se despide:\n  \"Entonces espero que nos envíes tu email con la solicitud de presupuesto por los carnets. Te dejo nuevamente el enlace:\n  https://www.optingsha.com.ar/carnet_manipuladores.php#empresa\"\n\n### C) SI pide pagar por transferencia o solicita CBU/alias:\n\n\"Hola [nombre], ¿cómo estás?\nTe paso: Alias optingsrl.bbva | CBU: 0170338020000030594238\n\nEnvianos el comprobante y en 48 hs, si el pago está acreditado, te enviamos los accesos al curso.\n¿Me dejás tu email?\"\n→ Luego de recibir el email, ofrecer reunión para carpeta de inspecciones.\n\n### D) SI menciona inspección, multa, acta o clausura:\n\nOfrece una llamada para resolverlo\n\"Hacemos una llamada y resolvemos. ¿Coordinamos por acá o preferís agendarla?\n👉 https://calendly.com/optingsha-info/30min\"\n\n### E) SI dice \"lo voy a pensar\":\n\n\"Hacemos una llamada rápida y resolvemos. ¿Coordinamos por acá o preferís agendarla?\n👉 https://calendly.com/optingsha-info/30min\"\n\n### F) SI dice \"ya tenemos proveedor\":\n\"¿Están 100% cubiertos o hay algo que te preocupa? En 10 min te digo si hay algún hueco.\"\n\n### G) SI dice \"no me interesa\":\n\"¿Lo decís porque ya lo tienen resuelto o porque no lo gestionan ustedes?\"\n\n### H) SI pregunta precio de auditoría o plan anual:\n\"Depende del tamaño del negocio. ¿Cuántos locales tenés? ¿Cuántos empleados? Lo vemos en 10 min.\"\n\n### H) SI pide hablar con soporte: \n\"Entiendo, ¿Chequeaste cargando desde la PC o con conexión del celular al Wifi?\n\nSí el problema sigue, comunicate con soporte técnico de 8 a 16:30 hs \nde lunes a viernes al +541157948155\n\nQue tengas un buen día.\"\n\n### I) Si consulta por cualquier otro servicio u cosa no especificada:\n\n---\n\n## REGLAS DE COMPORTAMIENTO\n\n1. Usá siempre el nombre del usuario si lo tenés\n2. Mensajes cortos: 3-4 líneas máximo (excepción: info completa del curso en paso 4A)\n3. Siempre terminá con una pregunta\n4. Preguntas binarias: \"¿Hoy o mañana?\" en lugar de \"¿Querés agendar?\"\n5. No vendas planes por chat → solo agendá reunión\n6. Tono argentino: \"vos\", \"dale\", \"genial\", \"¿cómo andás?\"\n7. Máximo 2 emojis por mensaje\n8. - Si no corresponde responder, devolver EXACTAMENTE un: \"👍\"\n\n\n---\n\n## LINKS\n- Carnet individual: https://www.optingsha.com.ar/carnet_manipuladores.php\n- Presupuesto empresa: https://www.optingsha.com.ar/carnet_manipuladores.php#empresa\n- Agendar reunión: https://calendly.com/optingsha-info/30min\n\n---\n\n## CHECKLIST ANTES DE CADA RESPUESTA\n\n- Si no corresponde responder, devolver EXACTAMENTE un: \"👍\"\n- ¿Estoy usando el mensaje exacto del paso correspondiente?\n- ¿El mensaje termina con una pregunta?\n- ¿Es corto (3-4 líneas, salvo paso 4A)?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -12192,
        -1184
      ],
      "id": "b7a2be94-9f7e-4a4c-a264-cc70fdd3429e",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -12192,
        -976
      ],
      "id": "74d8694b-aee9-4424-920e-9d013710523f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "x1cMDDSv3RoaFkK5",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4mtNYrLqBUhzwLjA",
          "mode": "list",
          "cachedResultUrl": "/workflow/4mtNYrLqBUhzwLjA",
          "cachedResultName": "notificacion llamada"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_name', ``, 'string') }}",
            "confirmation_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('confirmation_text', ``, 'string') }}",
            "raw_from_agent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_from_agent', ``, 'string') }}",
            "whatsapp_id": "={{ $('Normalice').item.json.body.conversation.contact_inbox.source_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_number",
              "displayName": "lead_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "confirmation_text",
              "displayName": "confirmation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw_from_agent",
              "displayName": "raw_from_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_id",
              "displayName": "whatsapp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -12048,
        -832
      ],
      "id": "84b08bf8-ee5c-471f-aee4-9b423b4b8555",
      "name": "agendo llamada"
    },
    {
      "parameters": {
        "jsCode": "// Preparar el payload para YCloud WhatsApp API\nconst phoneFrom =  $('Webhook1').first().json.body.whatsappInboundMessage.to;\nconst phoneTo = $('Webhook1').first().json.body.whatsappInboundMessage.from;\nconst messageText = $input.first().json.output;\n\nreturn {\n  from: phoneFrom,\n  to: phoneTo,\n  type: \"text\",\n  text: {\n    body: messageText,\n    preview_url: true\n  }\n};"
      },
      "id": "0e8cb8e6-d5e4-4055-b591-d613d7ac3bd4",
      "name": "Preparar Payload WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11728,
        -1184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "e2bb8a4e15e2ce381c4acd6c2bda500e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11488,
        -1184
      ],
      "id": "19e82d1f-5699-4656-89a7-d45601cbb341",
      "name": "Enviar WhatsApp YCloud"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.whatsappInboundMessage.from }}",
        "tableName": "chat_histories",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -12096,
        -976
      ],
      "id": "22364862-705d-4dbe-b7da-8f64499d0f40",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "uGGhyk491RbNedD2",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "seguimiento_whatsapp",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=phone",
              "fieldValue": "={{ $('Webhook1').item.json.body.whatsappInboundMessage.from }}"
            },
            {
              "fieldId": "phone_from",
              "fieldValue": "={{ $('Webhook1').first().json.body.whatsappInboundMessage.to }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.customerName }}"
            },
            {
              "fieldId": "last_bot_message_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "responded",
              "fieldValue": "false"
            }
          ]
        }
      },
      "name": "Guardar Seguimiento3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -11104,
        -1184
      ],
      "id": "582655cb-1a2a-48da-93a7-2255d475b002",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.from }}"
            },
            {
              "fieldId": "phone_from",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.to }}"
            },
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.customerName }}"
            },
            {
              "fieldId": "mensaje_inicial",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.messageBody }}"
            },
            {
              "fieldId": "wamid",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.wamid }}"
            },
            {
              "fieldId": "waba_id",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.wabaId }}"
            },
            {
              "fieldId": "tipo_mensaje",
              "fieldValue": "=."
            },
            {
              "fieldId": "timestamp_mensaje",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.timestamp }}"
            },
            {
              "fieldId": "dentro_horario",
              "fieldValue": "={{ $('Parsear Mensaje1').item.json.dentroDeHorario }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "name": "Guardar Lead ",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -11104,
        -1008
      ],
      "id": "cceabd04-1c13-433b-a240-d6609dfa386c",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Buscar Pendientes').item.json.phone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "llamada"
            }
          ]
        }
      },
      "name": "Marcar Follow-up Enviado1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -12192,
        -2016
      ],
      "id": "7b0c18be-2ece-4a2f-b447-da60010bbc8b",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "e2bb8a4e15e2ce381c4acd6c2bda500e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "name": "Enviar Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12640,
        -1808
      ],
      "id": "2f389b89-59dd-4bc2-9150-105a72c621db"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -9664,
        -1296
      ],
      "id": "d1536bf9-9639-4925-9bfc-9e5f98fa44c8",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 8-20 * * 1-6"
            }
          ]
        }
      },
      "name": "Check Segundo Toque",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -10992,
        -1520
      ],
      "id": "0f181d49-4c1d-4e5a-8805-23f92fc7c708"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "seguimiento_whatsapp",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "follow_up_scheduled_at",
              "condition": "lt",
              "keyValue": "={{ new Date().toISOString() }}"
            },
            {
              "keyName": "last_bot_message_at",
              "condition": "gt",
              "keyValue": "={{ new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "name": "Buscar Pendientes 2do Toque",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -10592,
        -1520
      ],
      "id": "9347fa04-f968-4928-bd3f-0c22d7f66ea8",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Filtrar: solo los que cumplen TODAS las condiciones booleanas\nconst filtrados = items.filter(item => {\n  const d = item.json;\n  const followUpSent = d.follow_up_sent === true || d.follow_up_sent === 'true';\n  const responded = d.responded === true || d.responded === 'true';\n  const followUp2Sent = d.follow_up_2_sent === true || d.follow_up_2_sent === 'true';\n  \n  // Debe tener follow_up_sent=true, responded=false, follow_up_2_sent=false\n  return followUpSent && !responded && !followUp2Sent;\n});\n\nconsole.log(`Total traídos: ${items.length}, Después de filtrar booleanos: ${filtrados.length}`);\n\nif (filtrados.length === 0) return [];\n\n// 2. Deduplicar por teléfono quedándose con el más reciente\nconst porTelefono = {};\nfor (const item of filtrados) {\n  const phone = item.json.phone;\n  if (!porTelefono[phone]) {\n    porTelefono[phone] = item;\n  } else {\n    const actual = new Date(porTelefono[phone].json.last_bot_message_at);\n    const nuevo = new Date(item.json.last_bot_message_at);\n    if (nuevo > actual) {\n      porTelefono[phone] = item;\n    }\n  }\n}\n\n// 3. Ordenar por follow_up_scheduled_at ascendente (el más viejo primero)\nconst deduplicados = Object.values(porTelefono);\ndeduplicados.sort((a, b) => {\n  const fechaA = new Date(a.json.follow_up_scheduled_at || 0);\n  const fechaB = new Date(b.json.follow_up_scheduled_at || 0);\n  return fechaA - fechaB;\n});\n\nconsole.log(`Después de deduplicar: ${deduplicados.length}, Enviando: ${deduplicados[0]?.json?.phone}`);\n\n// 4. Tomar SOLO el primero (1 por ejecución)\nreturn [deduplicados[0]];"
      },
      "name": "Tomar Solo 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10192,
        -1520
      ],
      "id": "d136501d-f8c5-4c4c-819d-9e58218d17e0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generá un mensaje de seguimiento para el cliente con teléfono {{ $json.phone }}.\nNombre del cliente: {{ $json.customer_name || 'no disponible' }}\n\nUsá el historial de conversación que tenés en memoria para personalizar el mensaje.",
        "options": {
          "systemMessage": "## ROL\nSos Pablo, asistente virtual de Opting (Seguridad e Higiene).\nEstás enviando un SEGUNDO mensaje de seguimiento a un cliente que ya fue contactado antes pero no respondió al primer seguimiento.\n\n## OBJETIVO\nTu ÚNICO objetivo es:\n1. Retomar la conversación de manera natural y cordial\n2. Preguntar si pudo realizar la compra y si necesita algo más\n\n## INSTRUCCIONES\n- Leé el historial de la conversación anterior con este cliente\n- Basándote en lo que se habló antes, generá UN SOLO mensaje corto y personalizado\n- Si en la conversación anterior se habló de un tema específico (carnet individual, carnets para empresa, presupuesto, etc.), mencionalo brevemente\n- Si el cliente tiene nombre, usalo\n\n## FORMATO DEL MENSAJE\n- Máximo 3-4 líneas\n- Tono argentino amigable: \"vos\", \"dale\", \"¿cómo andás?\"\n- Máximo 1-2 emojis\n- Terminá SIEMPRE con una pregunta concreta\n- NO te presentes de nuevo (ya te conoce)\n- NO repitas información que ya le diste antes\n- NO uses saludos formales largos\n\n## EJEMPLOS DE BUEN MENSAJE\n- \"Hola Juan, ¿cómo andás? Vi que habíamos quedado con lo del carnet. ¿Pudiste completar la inscripción o necesitás una mano? 😊\"\n- \"Hola María, ¿todo bien? Quedó pendiente lo del presupuesto para los carnets de tu equipo. ¿Querés que lo retomemos?\"\n- \"¿Cómo va todo? Te escribo porque habíamos hablado sobre el carnet de manipuladores. ¿Pudiste avanzar o tenés alguna duda?\"\n\n## IMPORTANTE\n- Devolvé SOLAMENTE el texto del mensaje, sin comillas, sin prefijos, sin explicaciones\n- Si no hay historial o no podés determinar el contexto, usá un mensaje genérico cordial preguntando si pudo avanzar con lo que necesitaba"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -9392,
        -1520
      ],
      "id": "6d8c6669-f488-47f8-8b8a-90069ba629d8",
      "name": "Agente Seguimiento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "e2bb8a4e15e2ce381c4acd6c2bda500e"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "name": "Enviar Segundo Toque YCloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8752,
        -1536
      ],
      "id": "2b761f93-726d-4eef-8a80-ed3f2572ab3d"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "seguimiento_whatsapp",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.to }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_2_sent",
              "fieldValue": "true"
            }
          ]
        }
      },
      "name": "Marcar 2do Toque Enviado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -8192,
        -1616
      ],
      "id": "ef9759d1-09ed-4f68-a8e9-0c7364fba202",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.to }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "llamada"
            }
          ]
        }
      },
      "name": "Marcar Lead como Llamada",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -8192,
        -1424
      ],
      "id": "3c78922e-6635-4cd3-9474-cdee773bdd2c",
      "credentials": {
        "supabaseApi": {
          "id": "HzCSuC5VeQmhADg5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -9472,
        -1280
      ],
      "id": "aa414c27-eb05-4d98-86a9-17c00285ebc3",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "x1cMDDSv3RoaFkK5",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Tomar Solo 1').item.json.phone.replace(/^\\+/, '') }}",
        "tableName": "chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -9312,
        -1280
      ],
      "id": "a6ad2e5b-fed1-4d4a-bbbe-bc93a8255484",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "uGGhyk491RbNedD2",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Tomar la respuesta del agente y preparar el payload para YCloud\nconst item = $('Tomar Solo 1').item;\nconst phoneFrom = item.json.phone_from;\nconst phoneTo = item.json.phone;\nconst messageText = $input.first().json.output;\n\nreturn {\n  from: phoneFrom,\n  to: phoneTo,\n  phone: phoneTo,\n  type: 'text',\n  text: {\n    body: messageText,\n    preview_url: false\n  }\n};"
      },
      "name": "Preparar Payload WhatsApp1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8992,
        -1520
      ],
      "id": "e7b5ae46-37de-40fa-b609-5c3e876c7552"
    }
  ],
  "pinData": {
    "Check Seguimientos": [
      {
        "json": {
          "timestamp": "2026-03-03T00:50:31.003-05:00",
          "Readable date": "March 3rd 2026, 12:50:31 am",
          "Readable time": "12:50:31 am",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "03",
          "Hour": "00",
          "Minute": "50",
          "Second": "31",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "mia-n8n.w9weud.easypanel.host",
            "user-agent": "Go-http-client/2.0",
            "content-length": "555",
            "accept-encoding": "gzip",
            "baggage": "Eagleeye-Pappname=1fof0zltrv1@d3b96e44a5c9fa6,Eagleeye-Prpc=",
            "content-type": "application/json",
            "traceparent": "00-ef5e53f5a6a22ac3e9cfdd9ba28019a3-a5a7af850bb91057-00",
            "x-forwarded-for": "8.219.65.77",
            "x-forwarded-host": "mia-n8n.w9weud.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61a01b9f8eee",
            "x-real-ip": "8.219.65.77",
            "x-webhook-endpoint-id": "698e52247927f7483225574e",
            "ycloud-signature": "t=1772640264,s=b170f04d9e8b0d21497595e66ddc8d1282a24e96d53a2be73997e48dd13370dd"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_69a858085dfb666d1d139b94",
            "type": "whatsapp.inbound_message.received",
            "apiVersion": "v2",
            "createTime": "2026-03-04T16:04:24.022Z",
            "whatsappInboundMessage": {
              "id": "69a858075dfb666d1d139b8f",
              "wamid": "wamid.HBgNNTQ5MTEyMjc1MjI5NRUCABIYIEE1NTY1REVCMkFFQ0ZEQTUwMkJDQTAxOTE5Mjk5NzE0AA==",
              "wabaId": "4273245422946304",
              "from": "+5491122752295",
              "customerProfile": {
                "name": "Peluqueria Siempre Guapas"
              },
              "to": "+5491133610471",
              "sendTime": "2026-03-04T16:04:22.000Z",
              "type": "text",
              "text": {
                "body": "Hola, quiero mi carnet Manipuladores de $22.990. Entrega en 72hs."
              }
            }
          },
          "webhookUrl": "https://mia-n8n.w9weud.easypanel.host/webhook/opting",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Check Seguimientos": {
      "main": [
        [
          {
            "node": "Buscar Pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pendientes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Follow-up": {
      "main": [
        [
          {
            "node": "Enviar Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Parsear Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Mensaje1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar Respondido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent2": {
      "main": [
        [
          {
            "node": "Preparar Payload WhatsApp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agendo llamada2": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload WhatsApp2": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp YCloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp YCloud2": {
      "main": [
        [
          {
            "node": "Guardar Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Preparar Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Preparar Payload WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agendo llamada": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp YCloud": {
      "main": [
        [
          {
            "node": "Guardar Seguimiento3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Lead ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Follow-up": {
      "main": [
        [
          {
            "node": "Marcar Follow-up Enviado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar Follow-up Enviado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Respondido": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Seguimiento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Segundo Toque": {
      "main": [
        [
          {
            "node": "Buscar Pendientes 2do Toque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pendientes 2do Toque": {
      "main": [
        [
          {
            "node": "Tomar Solo 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tomar Solo 1": {
      "main": [
        [
          {
            "node": "Agente Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Seguimiento": {
      "main": [
        [
          {
            "node": "Preparar Payload WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Segundo Toque YCloud": {
      "main": [
        [
          {
            "node": "Marcar 2do Toque Enviado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marcar Lead como Llamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente Seguimiento",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload WhatsApp1": {
      "main": [
        [
          {
            "node": "Enviar Segundo Toque YCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5ed499fa-fa55-4cb6-a746-75d3978fba74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee9f9cdde9b6fee62a7d6845e13fb03583e8c082f1cedc5478accdeca64f2246"
  },
  "id": "PxrfRFfaX-QGTqBlh2992",
  "tags": []
}