workflows/opting-seguimiento-syh-dispatcher.json
{"updatedAt":"2026-05-13T03:40:44.835Z","createdAt":"2026-05-13T03:39:52.030Z","id":"XDxr6YaQzZsST8sn","name":"Opting - SYH Dispatcher","description":"Despacha toques SYH multi-toque (T1 audio, T2/T3 HSM). Ver sticky note para detalles y gate de activacion.","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"d1","name":"Cron 09 AR","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT s.id, s.lead_id, s.phone, s.toque, s.template_usado\nFROM public.seguimientos_syh s\nJOIN public.leads l ON l.id = s.lead_id\nWHERE s.estado = 'pendiente'\n  AND s.programado_para <= now()\n  AND l.estado NOT IN ('llamada','visita')\nORDER BY s.programado_para ASC\nLIMIT 100;","options":{}},"id":"d2","name":"Poll Queue","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"batchSize":1,"options":{}},"id":"d3","name":"Loop 1 a 1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,0]},{"parameters":{"operation":"executeQuery","query":"SELECT EXISTS (\n  SELECT 1 FROM public.llamadas_agendadas\n  WHERE lead_id = {{ $json.lead_id }}\n    AND estado IN ('agendada','realizada')\n) AS debe_cerrar;","options":{}},"id":"d4","name":"Closure Check","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,0],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-cierre","leftValue":"={{ $json.debe_cerrar }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d5","name":"Debe Cerrar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,0]},{"parameters":{"operation":"executeQuery","query":"UPDATE public.seguimientos_syh\nSET estado         = 'cerrado',\n    cerrado_en     = now(),\n    cerrado_motivo = 'llamada_agendada'\nWHERE lead_id = {{ $('Loop 1 a 1').item.json.lead_id }}\n  AND estado  = 'pendiente';","options":{}},"id":"d6","name":"Marcar Cerrado Cascade","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,-160],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-tipo","leftValue":"={{ $('Loop 1 a 1').item.json.toque }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d7","name":"Switch Tipo","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,160]},{"parameters":{"jsCode":"const row = $('Loop 1 a 1').item.json;\nreturn {\n  json: {\n    from: '+5491123312054',\n    to: row.phone,\n    type: 'audio',\n    audio: {\n      link: 'https://nrbakrbxbvbnexnjmjzz.supabase.co/storage/v1/object/public/audio_seguimiento_s%26H/syh.ogg'\n    }\n  }\n};"},"id":"d8","name":"Preparar Payload Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,80]},{"parameters":{"jsCode":"const row = $('Loop 1 a 1').item.json;\nconst hsmMap = {\n  'sh_seguimiento_v1_t2': 'TODO_hsm_sh_seguimiento_t2',\n  'sh_seguimiento_v1_t3': 'TODO_hsm_sh_seguimiento_t3'\n};\nconst hsmName = hsmMap[row.template_usado] || row.template_usado;\nreturn {\n  json: {\n    from: '+5491123312054',\n    to: row.phone,\n    type: 'template',\n    template: {\n      name: hsmName,\n      language: {\n        code: 'es_AR',\n        policy: 'deterministic'\n      }\n    }\n  }\n};"},"id":"d9","name":"Preparar Payload Template","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,320]},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"e2bb8a4e15e2ce381c4acd6c2bda500e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"response":{"response":{"fullResponse":false}}},"onError":"continueRegularOutput"},"id":"d10","name":"Enviar yCloud","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-exito","leftValue":"={{ $json.status }}","rightValue":"accepted","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d11","name":"IF Exito","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,200]},{"parameters":{"operation":"executeQuery","query":"UPDATE public.seguimientos_syh\nSET estado            = 'enviado',\n    enviado_en        = now(),\n    ycloud_message_id = '{{ $json.id }}'\nWHERE id = {{ $('Loop 1 a 1').item.json.id }};\n\nINSERT INTO public.seguimientos_syh\n  (lead_id, phone, toque, programado_para, estado, template_usado)\nSELECT\n  {{ $('Loop 1 a 1').item.json.lead_id }},\n  '{{ $('Loop 1 a 1').item.json.phone }}',\n  v.toque,\n  now() + (v.days * INTERVAL '1 day'),\n  'pendiente',\n  v.tmpl\nFROM (VALUES\n  (2::smallint, 2, 'sh_seguimiento_v1_t2'),\n  (3::smallint, 4, 'sh_seguimiento_v1_t3')\n) AS v(toque, days, tmpl)\nWHERE {{ $('Loop 1 a 1').item.json.toque }} = 1\nON CONFLICT (lead_id, toque) DO NOTHING;","options":{}},"id":"d12","name":"Marcar Enviado + Cascade T2/T3","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2160,80],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE public.seguimientos_syh\nSET retry_count    = retry_count + 1,\n    error_detalle  = LEFT('{{ String($json.message || $json.error || JSON.stringify($json)).replace(/'/g, \"''\") }}', 500),\n    estado         = CASE WHEN retry_count + 1 >= 3 THEN 'error' ELSE 'pendiente' END,\n    cerrado_motivo = CASE WHEN retry_count + 1 >= 3 THEN 'ycloud_error:' || CAST({{ $json.statusCode || 0 }} AS TEXT) ELSE NULL END,\n    cerrado_en     = CASE WHEN retry_count + 1 >= 3 THEN now() ELSE NULL END,\n    programado_para = CASE WHEN retry_count + 1 < 3 THEN now() + INTERVAL '1 hour' ELSE programado_para END\nWHERE id = {{ $('Loop 1 a 1').item.json.id }};","options":{}},"id":"d13","name":"Marcar Error","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2160,320],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"amount":1,"unit":"minutes"},"id":"d14","name":"Wait 1 min","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2400,200],"webhookId":"syh-dispatcher-wait-1min"},{"parameters":{"content":"## Opting - SYH Dispatcher\n\n**IMPORTANTE: La secuencia NO se detiene cuando el lead responde ni cuando `deriva_humano = true`.**\n\nEl ÚNICO cierre es una fila en `llamadas_agendadas` con `estado IN ('agendada','realizada')` para ese lead_id.\n\nEsto es intencional y contraintuitivo — ver spec R13.\n\n---\n\n**Toques:**\n- T1 (día 0): Audio OGG vía yCloud sendDirectly\n- T2 (día +2): HSM Template `sh_seguimiento_v1_t2` (pendiente aprobación Meta)\n- T3 (día +4): HSM Template `sh_seguimiento_v1_t3` (pendiente aprobación Meta)\n\n**Gate de activación:** Este workflow debe permanecer `active: false` hasta que Meta apruebe los templates T2 y T3. Una vez aprobados: actualizar hsmNames en `whatsapp-templates.ts` y activar.","height":340,"width":560,"color":5},"id":"d0-sticky","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,-240]}],"connections":{"Cron 09 AR":{"main":[[{"node":"Poll Queue","type":"main","index":0}]]},"Poll Queue":{"main":[[{"node":"Loop 1 a 1","type":"main","index":0}]]},"Loop 1 a 1":{"main":[[],[{"node":"Closure Check","type":"main","index":0}]]},"Closure Check":{"main":[[{"node":"Debe Cerrar?","type":"main","index":0}]]},"Debe Cerrar?":{"main":[[{"node":"Marcar Cerrado Cascade","type":"main","index":0}],[{"node":"Switch Tipo","type":"main","index":0}]]},"Marcar Cerrado Cascade":{"main":[[{"node":"Wait 1 min","type":"main","index":0}]]},"Switch Tipo":{"main":[[{"node":"Preparar Payload Audio","type":"main","index":0}],[{"node":"Preparar Payload Template","type":"main","index":0}]]},"Preparar Payload Audio":{"main":[[{"node":"Enviar yCloud","type":"main","index":0}]]},"Preparar Payload Template":{"main":[[{"node":"Enviar yCloud","type":"main","index":0}]]},"Enviar yCloud":{"main":[[{"node":"IF Exito","type":"main","index":0}]]},"IF Exito":{"main":[[{"node":"Marcar Enviado + Cascade T2/T3","type":"main","index":0}],[{"node":"Marcar Error","type":"main","index":0}]]},"Marcar Enviado + Cascade T2/T3":{"main":[[{"node":"Wait 1 min","type":"main","index":0}]]},"Marcar Error":{"main":[[{"node":"Wait 1 min","type":"main","index":0}]]},"Wait 1 min":{"main":[[{"node":"Loop 1 a 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7cdcca17-126d-43d9-bf75-57797961e683","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-05-13T03:39:52.034Z","createdAt":"2026-05-13T03:39:52.034Z","role":"workflow:owner","workflowId":"XDxr6YaQzZsST8sn","projectId":"sKtCrdb8EegICcr5","project":{"updatedAt":"2025-08-07T04:12:58.349Z","createdAt":"2025-08-06T15:49:43.505Z","id":"sKtCrdb8EegICcr5","name":"federico suarez <fedesuarez16@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"1a055ca0-60d6-4e74-813b-dd571d1e3a32"}}],"tags":[],"activeVersion":null}