workflows/opting-seguimiento-30min.json
{"updatedAt":"2026-04-29T21:46:21.872Z","createdAt":"2026-04-24T20:49:06.614Z","id":"4S30NZFkDsHNLt14","name":"Opting - Seguimiento 30min","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"n1","name":"Cron diario 09 AR","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-208,-48]},{"parameters":{"operation":"executeQuery","query":"WITH last_msg AS (\n  SELECT DISTINCT ON (session_id)\n    session_id, id, message->>'type' AS msg_role\n  FROM chat_histories\n  ORDER BY session_id, id DESC\n)\nSELECT s.phone, s.phone_from, s.customer_name, s.last_bot_message_at\nFROM seguimiento_whatsapp s\nJOIN last_msg lm ON lm.session_id = s.phone\nWHERE lm.msg_role = 'ai'\n  AND COALESCE(s.followup_30min_sent, false) = false\n  AND s.last_bot_message_at >= date_trunc('day', NOW() AT TIME ZONE 'America/Argentina/Buenos_Aires' - INTERVAL '1 day') AT TIME ZONE 'America/Argentina/Buenos_Aires'\n  AND s.last_bot_message_at <  date_trunc('day', NOW() AT TIME ZONE 'America/Argentina/Buenos_Aires') AT TIME ZONE 'America/Argentina/Buenos_Aires'\n  AND s.last_bot_message_at >= NOW() - INTERVAL '24 hours'\nORDER BY s.last_bot_message_at ASC;","options":{}},"id":"n2","name":"Buscar Pendientes","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,-48],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nfunction extractContent(m) {\n  if (m == null) return '';\n  if (typeof m === 'string') return m;\n  if (typeof m.content === 'string') return m.content;\n  if (m.data) {\n    if (typeof m.data.content === 'string') return m.data.content;\n    if (Array.isArray(m.data.content)) return m.data.content.map(c => (typeof c === 'string' ? c : (c && c.text) || '')).join(' ');\n  }\n  if (m.kwargs && typeof m.kwargs.content === 'string') return m.kwargs.content;\n  if (typeof m.message === 'string') return m.message;\n  if (typeof m.text === 'string') return m.text;\n  return '';\n}\nfunction extractRole(m) {\n  const t = (m && m.type) || '';\n  if (/human/i.test(t)) return 'Cliente';\n  if (/ai|assistant|bot/i.test(t)) return 'Tomas (bot)';\n  if (m && m.id && Array.isArray(m.id)) {\n    const last = m.id[m.id.length-1];\n    if (/Human/i.test(last)) return 'Cliente';\n    if (/AI|Assistant/i.test(last)) return 'Tomas (bot)';\n  }\n  return 'Desconocido';\n}\nreturn items.map((item, idx) => {\n  const hist = item.json;\n  const src = ($('Buscar Pendientes').all()[idx] || {}).json || {};\n  const history = Array.isArray(hist.chat_history) ? hist.chat_history.slice().reverse() : [];\n  const conversation = history.map(m => extractRole(m) + ': ' + extractContent(m)).join('\\n');\n  return {\n    json: {\n      phone: src.phone,\n      phone_from: src.phone_from,\n      customer_name: src.customer_name,\n      last_bot_message_at: src.last_bot_message_at,\n      conversation,\n      has_history: history.length > 0,\n      _raw_sample: history[0] || null\n    }\n  };\n});"},"id":"n3","name":"Formatear Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-48]},{"parameters":{"promptType":"define","text":"=Sos un clasificador. Leé esta conversación de WhatsApp entre \"Tomas\" (bot de ventas de Opting, carnets de manipulación de alimentos) y el \"Cliente\". El cliente no respondió al último mensaje del bot hace más de 30 minutos.\n\nTu tarea: decidir si corresponde mandar un follow-up o si la conversación ya está cerrada.\n\nLa conversación está CERRADA (should_followup=false) si detectás cualquiera de:\n- El cliente confirmó la compra, dijo que va a inscribirse, o ya se inscribió\n- El cliente dijo explícitamente que no le interesa o se despidió (\"gracias\", \"chau\", \"no gracias\", \"no me interesa\")\n- El bot derivó a soporte técnico (problema con accesos al curso, certificado, etc.)\n- El último mensaje del bot fue exactamente \"👍\" (señal de fin de conversación)\n- Se agendó una reunión/llamada por auditoría o plan anual\n- La conversación es sobre un tema distinto a ventas (queja, reclamo ya derivado)\n\nLa conversación está ABIERTA (should_followup=true) si:\n- El bot mandó info/link del carnet y el cliente no reaccionó (el caso típico)\n- Hay una consulta activa sobre carnet (precio, pago, link) sin resolución\n- El bot hizo una pregunta para calificar (ej: \"¿para vos o para empleados?\") y el cliente no contestó\n\nConversación (orden cronológico, más viejo arriba):\n---\n{{ $json.conversation }}\n---\n\nDevolvé EXCLUSIVAMENTE un JSON válido, sin markdown, sin texto extra, con esta forma exacta:\n{\"should_followup\": true, \"reason\": \"<motivo corto en 3-5 palabras>\"}","messages":{"messageValues":[]}},"id":"n4","name":"Clasificador Conversacion","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[624,-48]},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.map((item, idx) => {\n  const raw = item.json.text || item.json.output || item.json.response || '';\n  let parsed = null;\n  try {\n    const clean = String(raw).replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n    parsed = JSON.parse(clean);\n  } catch (e) {\n    const m = String(raw).match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { parsed = JSON.parse(m[0]); } catch (e2) {}\n    }\n  }\n  if (!parsed || typeof parsed !== 'object') {\n    parsed = { should_followup: true, reason: 'parse_error' };\n  }\n  const ctx = $('Formatear Contexto').all()[idx] ? $('Formatear Contexto').all()[idx].json : {};\n  return {\n    json: {\n      phone: ctx.phone,\n      phone_from: ctx.phone_from,\n      customer_name: ctx.customer_name,\n      should_followup: !!parsed.should_followup,\n      reason: String(parsed.reason || '').slice(0, 100)\n    }\n  };\n});"},"id":"n6","name":"Parsear Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-48]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond1","leftValue":"={{ $json.should_followup }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"n7","name":"Mandar followup?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,-64]},{"parameters":{"jsCode":"const item = $input.first().json;\nreturn {\n  json: {\n    phone: item.phone,\n    from: item.phone_from,\n    to: item.phone,\n    type: 'audio',\n    audio: {\n      link: 'https://nrbakrbxbvbnexnjmjzz.supabase.co/storage/v1/object/public/audio/WhatsApp%20Ptt%202026-03-05%20at%202.55.47%20PM.ogg'\n    }\n  }\n};"},"id":"n8","name":"Preparar Payload yCloud","type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,-80]},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"e2bb8a4e15e2ce381c4acd6c2bda500e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"audio\",\n  \"audio\": {\n    \"link\": \"{{ $json.audio.link }}\"\n  }\n}","options":{}},"id":"n9","name":"Enviar WhatsApp yCloud","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-80]},{"parameters":{"operation":"executeQuery","query":"UPDATE seguimiento_whatsapp SET followup_30min_sent = true, conversation_status = 'followup_sent' WHERE phone = $1;","options":{"queryReplacement":"={{ $('Parsear Resultado').item.json.phone }}"}},"id":"n10","name":"Marcar followup enviado","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2496,-80],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE seguimiento_whatsapp SET conversation_status = $1 WHERE phone = $2;","options":{"queryReplacement":"={{ 'closed:' + $json.reason }},{{ $json.phone }}"}},"id":"n11","name":"Marcar cerrada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1968,272],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n  (SELECT json_agg(sub.message ORDER BY sub.id DESC)\n   FROM (\n     SELECT id, message FROM chat_histories\n     WHERE session_id = $1\n     ORDER BY id DESC\n     LIMIT 8\n   ) sub),\n  '[]'::json\n) AS chat_history;","options":{"queryReplacement":"={{ $json.phone }}"}},"id":"n2b","name":"Traer Historial","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-48],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[624,160],"id":"b326ad4f-1466-4cd3-9af5-91b91e648935","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BPTkrfKD8LOqnHgE","name":"OpenAi account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"loop-grupos-3","name":"Loop 1 a 1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,-48]},{"parameters":{"amount":1,"unit":"minutes"},"id":"esperar-3min","name":"Esperar 1 min","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2496,272],"webhookId":"b129f945-b94b-411d-8809-d96483e61f1f"}],"connections":{"Cron diario 09 AR":{"main":[[{"node":"Buscar Pendientes","type":"main","index":0}]]},"Formatear Contexto":{"main":[[{"node":"Clasificador Conversacion","type":"main","index":0}]]},"Clasificador Conversacion":{"main":[[{"node":"Parsear Resultado","type":"main","index":0}]]},"Mandar followup?":{"main":[[{"node":"Preparar Payload yCloud","type":"main","index":0}],[{"node":"Marcar cerrada","type":"main","index":0}]]},"Buscar Pendientes":{"main":[[{"node":"Traer Historial","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Clasificador Conversacion","type":"ai_languageModel","index":0}]]},"Traer Historial":{"main":[[{"node":"Formatear Contexto","type":"main","index":0}]]},"Parsear Resultado":{"main":[[{"node":"Loop 1 a 1","type":"main","index":0}]]},"Preparar Payload yCloud":{"main":[[{"node":"Enviar WhatsApp yCloud","type":"main","index":0}]]},"Enviar WhatsApp yCloud":{"main":[[{"node":"Marcar followup enviado","type":"main","index":0}]]},"Marcar followup enviado":{"main":[[{"node":"Esperar 1 min","type":"main","index":0}]]},"Marcar cerrada":{"main":[[{"node":"Esperar 1 min","type":"main","index":0}]]},"Esperar 1 min":{"main":[[{"node":"Loop 1 a 1","type":"main","index":0}]]},"Loop 1 a 1":{"main":[[],[{"node":"Mandar followup?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Cron diario 09 AR":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77eb992a-1eb6-462f-b67c-e89ae733a4a3","activeVersionId":"77eb992a-1eb6-462f-b67c-e89ae733a4a3","versionCounter":95,"triggerCount":1,"shared":[{"updatedAt":"2026-04-24T20:49:06.618Z","createdAt":"2026-04-24T20:49:06.618Z","role":"workflow:owner","workflowId":"4S30NZFkDsHNLt14","projectId":"sKtCrdb8EegICcr5","project":{"updatedAt":"2025-08-07T04:12:58.349Z","createdAt":"2025-08-06T15:49:43.505Z","id":"sKtCrdb8EegICcr5","name":"federico suarez <fedesuarez16@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"1a055ca0-60d6-4e74-813b-dd571d1e3a32"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-29T21:45:49.371Z","createdAt":"2026-04-29T21:45:49.371Z","versionId":"77eb992a-1eb6-462f-b67c-e89ae733a4a3","workflowId":"4S30NZFkDsHNLt14","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"n1","name":"Cron diario 09 AR","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-208,-48]},{"parameters":{"operation":"executeQuery","query":"WITH last_msg AS (\n  SELECT DISTINCT ON (session_id)\n    session_id, id, message->>'type' AS msg_role\n  FROM chat_histories\n  ORDER BY session_id, id DESC\n)\nSELECT s.phone, s.phone_from, s.customer_name, s.last_bot_message_at\nFROM seguimiento_whatsapp s\nJOIN last_msg lm ON lm.session_id = s.phone\nWHERE lm.msg_role = 'ai'\n  AND COALESCE(s.followup_30min_sent, false) = false\n  AND s.last_bot_message_at >= date_trunc('day', NOW() AT TIME ZONE 'America/Argentina/Buenos_Aires' - INTERVAL '1 day') AT TIME ZONE 'America/Argentina/Buenos_Aires'\n  AND s.last_bot_message_at <  date_trunc('day', NOW() AT TIME ZONE 'America/Argentina/Buenos_Aires') AT TIME ZONE 'America/Argentina/Buenos_Aires'\n  AND s.last_bot_message_at >= NOW() - INTERVAL '24 hours'\nORDER BY s.last_bot_message_at ASC;","options":{}},"id":"n2","name":"Buscar Pendientes","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,-48],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nfunction extractContent(m) {\n  if (m == null) return '';\n  if (typeof m === 'string') return m;\n  if (typeof m.content === 'string') return m.content;\n  if (m.data) {\n    if (typeof m.data.content === 'string') return m.data.content;\n    if (Array.isArray(m.data.content)) return m.data.content.map(c => (typeof c === 'string' ? c : (c && c.text) || '')).join(' ');\n  }\n  if (m.kwargs && typeof m.kwargs.content === 'string') return m.kwargs.content;\n  if (typeof m.message === 'string') return m.message;\n  if (typeof m.text === 'string') return m.text;\n  return '';\n}\nfunction extractRole(m) {\n  const t = (m && m.type) || '';\n  if (/human/i.test(t)) return 'Cliente';\n  if (/ai|assistant|bot/i.test(t)) return 'Tomas (bot)';\n  if (m && m.id && Array.isArray(m.id)) {\n    const last = m.id[m.id.length-1];\n    if (/Human/i.test(last)) return 'Cliente';\n    if (/AI|Assistant/i.test(last)) return 'Tomas (bot)';\n  }\n  return 'Desconocido';\n}\nreturn items.map((item, idx) => {\n  const hist = item.json;\n  const src = ($('Buscar Pendientes').all()[idx] || {}).json || {};\n  const history = Array.isArray(hist.chat_history) ? hist.chat_history.slice().reverse() : [];\n  const conversation = history.map(m => extractRole(m) + ': ' + extractContent(m)).join('\\n');\n  return {\n    json: {\n      phone: src.phone,\n      phone_from: src.phone_from,\n      customer_name: src.customer_name,\n      last_bot_message_at: src.last_bot_message_at,\n      conversation,\n      has_history: history.length > 0,\n      _raw_sample: history[0] || null\n    }\n  };\n});"},"id":"n3","name":"Formatear Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-48]},{"parameters":{"promptType":"define","text":"=Sos un clasificador. Leé esta conversación de WhatsApp entre \"Tomas\" (bot de ventas de Opting, carnets de manipulación de alimentos) y el \"Cliente\". El cliente no respondió al último mensaje del bot hace más de 30 minutos.\n\nTu tarea: decidir si corresponde mandar un follow-up o si la conversación ya está cerrada.\n\nLa conversación está CERRADA (should_followup=false) si detectás cualquiera de:\n- El cliente confirmó la compra, dijo que va a inscribirse, o ya se inscribió\n- El cliente dijo explícitamente que no le interesa o se despidió (\"gracias\", \"chau\", \"no gracias\", \"no me interesa\")\n- El bot derivó a soporte técnico (problema con accesos al curso, certificado, etc.)\n- El último mensaje del bot fue exactamente \"👍\" (señal de fin de conversación)\n- Se agendó una reunión/llamada por auditoría o plan anual\n- La conversación es sobre un tema distinto a ventas (queja, reclamo ya derivado)\n\nLa conversación está ABIERTA (should_followup=true) si:\n- El bot mandó info/link del carnet y el cliente no reaccionó (el caso típico)\n- Hay una consulta activa sobre carnet (precio, pago, link) sin resolución\n- El bot hizo una pregunta para calificar (ej: \"¿para vos o para empleados?\") y el cliente no contestó\n\nConversación (orden cronológico, más viejo arriba):\n---\n{{ $json.conversation }}\n---\n\nDevolvé EXCLUSIVAMENTE un JSON válido, sin markdown, sin texto extra, con esta forma exacta:\n{\"should_followup\": true, \"reason\": \"<motivo corto en 3-5 palabras>\"}","messages":{"messageValues":[]}},"id":"n4","name":"Clasificador Conversacion","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[624,-48]},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.map((item, idx) => {\n  const raw = item.json.text || item.json.output || item.json.response || '';\n  let parsed = null;\n  try {\n    const clean = String(raw).replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n    parsed = JSON.parse(clean);\n  } catch (e) {\n    const m = String(raw).match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { parsed = JSON.parse(m[0]); } catch (e2) {}\n    }\n  }\n  if (!parsed || typeof parsed !== 'object') {\n    parsed = { should_followup: true, reason: 'parse_error' };\n  }\n  const ctx = $('Formatear Contexto').all()[idx] ? $('Formatear Contexto').all()[idx].json : {};\n  return {\n    json: {\n      phone: ctx.phone,\n      phone_from: ctx.phone_from,\n      customer_name: ctx.customer_name,\n      should_followup: !!parsed.should_followup,\n      reason: String(parsed.reason || '').slice(0, 100)\n    }\n  };\n});"},"id":"n6","name":"Parsear Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-48]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond1","leftValue":"={{ $json.should_followup }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"n7","name":"Mandar followup?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,-64]},{"parameters":{"jsCode":"const item = $input.first().json;\nreturn {\n  json: {\n    phone: item.phone,\n    from: item.phone_from,\n    to: item.phone,\n    type: 'audio',\n    audio: {\n      link: 'https://nrbakrbxbvbnexnjmjzz.supabase.co/storage/v1/object/public/audio/WhatsApp%20Ptt%202026-03-05%20at%202.55.47%20PM.ogg'\n    }\n  }\n};"},"id":"n8","name":"Preparar Payload yCloud","type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,-80]},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"e2bb8a4e15e2ce381c4acd6c2bda500e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"{{ $json.from }}\",\n  \"to\": \"{{ $json.to }}\",\n  \"type\": \"audio\",\n  \"audio\": {\n    \"link\": \"{{ $json.audio.link }}\"\n  }\n}","options":{}},"id":"n9","name":"Enviar WhatsApp yCloud","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-80]},{"parameters":{"operation":"executeQuery","query":"UPDATE seguimiento_whatsapp SET followup_30min_sent = true, conversation_status = 'followup_sent' WHERE phone = $1;","options":{"queryReplacement":"={{ $('Parsear Resultado').item.json.phone }}"}},"id":"n10","name":"Marcar followup enviado","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2496,-80],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE seguimiento_whatsapp SET conversation_status = $1 WHERE phone = $2;","options":{"queryReplacement":"={{ 'closed:' + $json.reason }},{{ $json.phone }}"}},"id":"n11","name":"Marcar cerrada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1968,272],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COALESCE(\n  (SELECT json_agg(sub.message ORDER BY sub.id DESC)\n   FROM (\n     SELECT id, message FROM chat_histories\n     WHERE session_id = $1\n     ORDER BY id DESC\n     LIMIT 8\n   ) sub),\n  '[]'::json\n) AS chat_history;","options":{"queryReplacement":"={{ $json.phone }}"}},"id":"n2b","name":"Traer Historial","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-48],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[624,160],"id":"b326ad4f-1466-4cd3-9af5-91b91e648935","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BPTkrfKD8LOqnHgE","name":"OpenAi account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"loop-grupos-3","name":"Loop 1 a 1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,-48]},{"parameters":{"amount":1,"unit":"minutes"},"id":"esperar-3min","name":"Esperar 1 min","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2496,272],"webhookId":"b129f945-b94b-411d-8809-d96483e61f1f"}],"connections":{"Cron diario 09 AR":{"main":[[{"node":"Buscar Pendientes","type":"main","index":0}]]},"Formatear Contexto":{"main":[[{"node":"Clasificador Conversacion","type":"main","index":0}]]},"Clasificador Conversacion":{"main":[[{"node":"Parsear Resultado","type":"main","index":0}]]},"Mandar followup?":{"main":[[{"node":"Preparar Payload yCloud","type":"main","index":0}],[{"node":"Marcar cerrada","type":"main","index":0}]]},"Buscar Pendientes":{"main":[[{"node":"Traer Historial","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Clasificador Conversacion","type":"ai_languageModel","index":0}]]},"Traer Historial":{"main":[[{"node":"Formatear Contexto","type":"main","index":0}]]},"Parsear Resultado":{"main":[[{"node":"Loop 1 a 1","type":"main","index":0}]]},"Preparar Payload yCloud":{"main":[[{"node":"Enviar WhatsApp yCloud","type":"main","index":0}]]},"Enviar WhatsApp yCloud":{"main":[[{"node":"Marcar followup enviado","type":"main","index":0}]]},"Marcar followup enviado":{"main":[[{"node":"Esperar 1 min","type":"main","index":0}]]},"Marcar cerrada":{"main":[[{"node":"Esperar 1 min","type":"main","index":0}]]},"Esperar 1 min":{"main":[[{"node":"Loop 1 a 1","type":"main","index":0}]]},"Loop 1 a 1":{"main":[[],[{"node":"Mandar followup?","type":"main","index":0}]]}},"authors":"federico suarez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-29T21:46:22.129Z","id":548,"workflowId":"4S30NZFkDsHNLt14","versionId":"77eb992a-1eb6-462f-b67c-e89ae733a4a3","event":"activated","userId":"1a055ca0-60d6-4e74-813b-dd571d1e3a32"}]}}