workflows/opting-seguimiento-syh-ingestion.json
{"updatedAt":"2026-05-13T03:16:55.110Z","createdAt":"2026-05-13T03:16:55.110Z","id":"SXmd1YTXx9MeIrQG","name":"Opting - SYH Ingestion","description":null,"active":false,"isArchived":false,"nodes":[{"id":"cron-1","name":"Cron 08:55 AR","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"55 8 * * *"}]}}},{"id":"postgres-insert","name":"Insertar Pendientes","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[200,0],"parameters":{"operation":"executeQuery","query":"INSERT INTO public.seguimientos_syh (lead_id, phone, toque, programado_para, estado, template_usado)\nSELECT l.id, l.phone, 1, now(), 'pendiente', 'audio_ogg'\nFROM public.leads l\nJOIN LATERAL (\n  SELECT message->>'type' AS msg_role\n  FROM public.chat_histories\n  WHERE session_id = l.phone\n  ORDER BY id DESC\n  LIMIT 1\n) lm ON true\nWHERE l.phone_from IS NULL\n  AND l.phone IS NOT NULL\n  AND lm.msg_role = 'ai'\n  AND l.estado NOT IN ('llamada','visita')\n  AND l.timestamp_mensaje >= date_trunc('day', now() AT TIME ZONE 'America/Argentina/Buenos_Aires' - INTERVAL '1 day') AT TIME ZONE 'America/Argentina/Buenos_Aires'\n  AND l.timestamp_mensaje <  date_trunc('day', now() AT TIME ZONE 'America/Argentina/Buenos_Aires') AT TIME ZONE 'America/Argentina/Buenos_Aires'\n  AND l.timestamp_mensaje >= now() - INTERVAL '24 hours'\nON CONFLICT (lead_id, toque) DO NOTHING\nRETURNING id, lead_id, phone;"},"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}}},{"id":"log-1","name":"Log Resumen","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"parameters":{"jsCode":"const items = $input.all();\nconst count = items.length;\nconsole.log(`[SYH Ingestion] Inserted ${count} T1 pending rows`);\nreturn items;"}}],"connections":{"Cron 08:55 AR":{"main":[[{"node":"Insertar Pendientes","type":"main","index":0}]]},"Insertar Pendientes":{"main":[[{"node":"Log Resumen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"bf4f47fc-f9ee-4b80-a30f-8a0bdebcc818","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-05-13T03:16:55.113Z","createdAt":"2026-05-13T03:16:55.113Z","role":"workflow:owner","workflowId":"SXmd1YTXx9MeIrQG","projectId":"sKtCrdb8EegICcr5","project":{"updatedAt":"2025-08-07T04:12:58.349Z","createdAt":"2025-08-06T15:49:43.505Z","id":"sKtCrdb8EegICcr5","name":"federico suarez <fedesuarez16@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"1a055ca0-60d6-4e74-813b-dd571d1e3a32"}}],"tags":[],"activeVersion":null}