workflows/opting-agendar-llamada-crm.json
{"updatedAt":"2026-06-04T05:05:23.299Z","createdAt":"2026-05-16T06:40:50.685Z","id":"6rF5H3sCOPEGAstF","name":"Opting - Agendar llamada CRM","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"lead_name\": \"Juan Perez\",\n  \"confirmation_text\": \"Llamada agendada para mañana a las 15hs\",\n  \"fecha_hora_iso\": \"2026-05-17T15:00:00-03:00\",\n  \"whatsapp_id\": \"+5491141872290\"\n}"},"id":"a1b2c3d4-1111-2222-3333-444455556666","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,304]},{"parameters":{"jsCode":"const raw = $input.first().json;\n\nfunction parseArDate(str) {\n  if (!str || typeof str !== 'string') return null;\n  const t = str.trim();\n  const hasOffset = /[Z]$|[+-]\\d{2}:\\d{2}$/.test(t);\n  if (hasOffset) {\n    const d = new Date(t);\n    return isNaN(d.getTime()) ? null : d;\n  }\n  const d = new Date(t.replace(' ', 'T') + '-03:00');\n  return isNaN(d.getTime()) ? null : d;\n}\n\nfunction toISOAR(date) {\n  const arDate = new Date(date.getTime() - 3 * 60 * 60 * 1000);\n  const pad = n => String(n).padStart(2, '0');\n  return `${arDate.getUTCFullYear()}-${pad(arDate.getUTCMonth()+1)}-${pad(arDate.getUTCDate())}T${pad(arDate.getUTCHours())}:${pad(arDate.getUTCMinutes())}:${pad(arDate.getUTCSeconds())}-03:00`;\n}\n\nlet inicio = parseArDate(raw.fecha_hora_iso);\nlet fechaFallback = false;\nif (!inicio) {\n  inicio = new Date(Date.now() + 30 * 60 * 1000);\n  fechaFallback = true;\n}\n// Corregir año si el agente generó una fecha pasada (error de corte de entrenamiento)\nconst ahora = new Date();\nwhile (inicio < ahora) {\n  inicio.setFullYear(inicio.getFullYear() + 1);\n}\n\nconst fin = new Date(inicio.getTime() + 30 * 60 * 1000);\n\nconst phoneDigits = String(raw.whatsapp_id || '')\n  .replace(/@[^@]+$/, '')\n  .replace(/^WAID:/i, '')\n  .replace(/\\D/g, '')\n  .slice(-10);\n\nreturn [{\n  json: {\n    lead_name: raw.lead_name || '',\n    confirmation_text: raw.confirmation_text || '',\n    whatsapp_id: String(raw.whatsapp_id || ''),\n    inicio_iso: toISOAR(inicio),\n    fin_iso: toISOAR(fin),\n    phone_digits: phoneDigits,\n    fecha_fallback: fechaFallback\n  }\n}];"},"id":"e5f6a7b8-3333-4444-5555-666677778888","name":"Parsear y normalizar datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[192,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO llamadas_agendadas (lead_id, nombre_contacto, titulo, notas, inicio, fin, estado)\nSELECT\n  (SELECT id FROM leads WHERE RIGHT(REGEXP_REPLACE(COALESCE(phone,''), '[^0-9]', '', 'g'), 10) = $4 LIMIT 1) AS lead_id,\n  $1 AS nombre_contacto,\n  'Llamada agendada con ' || $1 AS titulo,\n  $2 AS notas,\n  $3::timestamptz AS inicio,\n  $5::timestamptz AS fin,\n  'agendada' AS estado;","options":{"queryReplacement":"={{ [$json.lead_name, $json.confirmation_text, $json.inicio_iso, $json.phone_digits, $json.fin_iso] }}"}},"id":"b2c3d4e5-1111-2222-3333-444455556666","name":"Insertar llamada agendada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE leads\nSET llamada_agendada = true\nWHERE RIGHT(REGEXP_REPLACE(COALESCE(phone,''), '[^0-9]', '', 'g'), 10) = $1;","options":{"queryReplacement":"={{ [$json.phone_digits] }}"}},"id":"c3d4e5f6-1111-2222-3333-444455556666","name":"Marcar lead llamada_agendada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[592,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}},"onError":"continueRegularOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Parsear y normalizar datos","type":"main","index":0}]]},"Parsear y normalizar datos":{"main":[[{"node":"Insertar llamada agendada","type":"main","index":0}]]},"Insertar llamada agendada":{"main":[[{"node":"Marcar lead llamada_agendada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"27c6c767-5964-4ebc-bc12-f2f24fe84f2b","activeVersionId":"27c6c767-5964-4ebc-bc12-f2f24fe84f2b","versionCounter":15,"triggerCount":0}
