workflows/opting-agendar-llamada-crm.json
{"updatedAt":"2026-05-16T06:41:00.881Z","createdAt":"2026-05-16T06:40:50.685Z","id":"6rF5H3sCOPEGAstF","name":"Opting - Agendar llamada CRM","description":null,"active":true,"isArchived":false,"nodes":[{"id":"a1b2c3d4-1111-2222-3333-444455556666","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[100,300],"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"lead_name\": \"Juan Perez\",\n  \"confirmation_text\": \"Llamada agendada para mañana a las 15hs\",\n  \"fecha_hora_iso\": \"2026-05-17T15:00:00-03:00\",\n  \"whatsapp_id\": \"+5491141872290\"\n}"}},{"id":"b2c3d4e5-1111-2222-3333-444455556666","name":"Insertar llamada agendada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[340,300],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO llamadas_agendadas (lead_id, nombre_contacto, titulo, notas, inicio, fin, estado)\nSELECT\n  (SELECT id FROM leads WHERE phone LIKE '%' || RIGHT(REGEXP_REPLACE($4, '[^0-9]', '', 'g'), 10) LIMIT 1) AS lead_id,\n  $1 AS nombre_contacto,\n  'Llamada agendada con ' || $1 AS titulo,\n  $2 AS notas,\n  $3::timestamptz AS inicio,\n  ($3::timestamptz + INTERVAL '30 minutes') AS fin,\n  'agendada' AS estado\nWHERE $3 IS NOT NULL AND $3 <> '';","options":{"queryReplacement":"={{ [$json.lead_name, $json.confirmation_text, $json.fecha_hora_iso, $json.whatsapp_id] }}"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"id":"c3d4e5f6-1111-2222-3333-444455556666","name":"Marcar lead llamada_agendada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[580,300],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}},"parameters":{"operation":"executeQuery","query":"UPDATE leads\nSET llamada_agendada = true\nWHERE phone LIKE '%' || RIGHT(REGEXP_REPLACE($1, '[^0-9]', '', 'g'), 10);","options":{"queryReplacement":"={{ [$('When Executed by Another Workflow').item.json.whatsapp_id] }}"}},"onError":"continueRegularOutput","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Insertar llamada agendada","type":"main","index":0}]]},"Insertar llamada agendada":{"main":[[{"node":"Marcar lead llamada_agendada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f100e3e5-8cad-408e-830b-5353d1c49de9","activeVersionId":"f100e3e5-8cad-408e-830b-5353d1c49de9","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-05-16T06:40:50.690Z","createdAt":"2026-05-16T06:40:50.690Z","role":"workflow:owner","workflowId":"6rF5H3sCOPEGAstF","projectId":"sKtCrdb8EegICcr5","project":{"updatedAt":"2025-08-07T04:12:58.349Z","createdAt":"2025-08-06T15:49:43.505Z","id":"sKtCrdb8EegICcr5","name":"federico suarez <fedesuarez16@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"1a055ca0-60d6-4e74-813b-dd571d1e3a32"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-16T06:40:50.693Z","createdAt":"2026-05-16T06:40:50.693Z","versionId":"f100e3e5-8cad-408e-830b-5353d1c49de9","workflowId":"6rF5H3sCOPEGAstF","nodes":[{"id":"a1b2c3d4-1111-2222-3333-444455556666","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[100,300],"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"lead_name\": \"Juan Perez\",\n  \"confirmation_text\": \"Llamada agendada para mañana a las 15hs\",\n  \"fecha_hora_iso\": \"2026-05-17T15:00:00-03:00\",\n  \"whatsapp_id\": \"+5491141872290\"\n}"}},{"id":"b2c3d4e5-1111-2222-3333-444455556666","name":"Insertar llamada agendada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[340,300],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}},"parameters":{"operation":"executeQuery","query":"INSERT INTO llamadas_agendadas (lead_id, nombre_contacto, titulo, notas, inicio, fin, estado)\nSELECT\n  (SELECT id FROM leads WHERE phone LIKE '%' || RIGHT(REGEXP_REPLACE($4, '[^0-9]', '', 'g'), 10) LIMIT 1) AS lead_id,\n  $1 AS nombre_contacto,\n  'Llamada agendada con ' || $1 AS titulo,\n  $2 AS notas,\n  $3::timestamptz AS inicio,\n  ($3::timestamptz + INTERVAL '30 minutes') AS fin,\n  'agendada' AS estado\nWHERE $3 IS NOT NULL AND $3 <> '';","options":{"queryReplacement":"={{ [$json.lead_name, $json.confirmation_text, $json.fecha_hora_iso, $json.whatsapp_id] }}"}},"onError":"continueRegularOutput","alwaysOutputData":true},{"id":"c3d4e5f6-1111-2222-3333-444455556666","name":"Marcar lead llamada_agendada","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[580,300],"credentials":{"postgres":{"id":"uGGhyk491RbNedD2","name":"Postgres account 2"}},"parameters":{"operation":"executeQuery","query":"UPDATE leads\nSET llamada_agendada = true\nWHERE phone LIKE '%' || RIGHT(REGEXP_REPLACE($1, '[^0-9]', '', 'g'), 10);","options":{"queryReplacement":"={{ [$('When Executed by Another Workflow').item.json.whatsapp_id] }}"}},"onError":"continueRegularOutput","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Insertar llamada agendada","type":"main","index":0}]]},"Insertar llamada agendada":{"main":[[{"node":"Marcar lead llamada_agendada","type":"main","index":0}]]}},"authors":"federico suarez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-16T06:41:01.131Z","id":710,"workflowId":"6rF5H3sCOPEGAstF","versionId":"f100e3e5-8cad-408e-830b-5353d1c49de9","event":"activated","userId":"1a055ca0-60d6-4e74-813b-dd571d1e3a32"}]}}